* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #c4c4cc;
  -webkit-font-smoothing: antialiased;  
}

body, input, textarea, button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

.player-container {
  /* width: 50rem;
  background-color: #fff;
  margin: 2rem;
  height: 24rem;
  border-radius: 1rem;
  box-shadow: 0 1.6px 1.6px rgba(0,0,0,.023),0 3.8px 3.8px rgba(0,0,0,.034),0 6.9px 6.9px rgba(0,0,0,.041),0 11.4px 11.4px rgba(0,0,0,.049),0 18.8px 18.8px rgba(0,0,0,.056),0 32.8px 32.8px rgba(0,0,0,.067),0 71px 71px rgba(0,0,0,.09);
  flex-basis: calc(28%); */

  flex-basis: 33.33%;
  /* height: 24rem; */
  background-color: #fff;
  box-sizing: border-box;
  text-align: center;
  border-radius: 1rem;
  border-style: solid;
  border-width: 3px;
  border-color: #000;
}

.player-name {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.victor {
  background-color: yellow;
}

.shindi {
  background-color: blue;
  color: white
}

.renan {
  background-color: black;
  color: white
}

.points-container {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-total {
  width: 7rem;
  border-width: 3px;
  border-color: #000;
  text-align: center; 
  font-size: 30px;
}

.button-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* justify-content: space-between; */
}
