* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #c4c4cc;
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.checkbox-xl .form-check-input {
  top: 1.2rem;
  scale: 1.7;
  margin-right: 0.8rem;
}

.checkbox-xl .form-check-label {
  padding-top: 19px;
}

/* .checkbox-xl {
  width: 30px !important;
  height: 30px !important;
 } */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

.player-container {
  flex-basis: 33.33%;
  /* height: 24rem; */
  background-color: #fff;
  box-sizing: border-box;
  text-align: center;
  border-radius: 1rem;
  border-style: solid;
  border-width: 3px;
  border-color: #000;
}

.player-container-victor {
  flex-basis: 100%;
  /* height: 24rem; */
  background-color: #fff;
  box-sizing: border-box;
  text-align: center;
  border-radius: 1rem;
  border-style: solid;
  border-width: 3px;
  border-color: #000;
}

.player-container-shindi {
  flex-basis: 100%;
  /* height: 24rem; */
  background-color: #fff;
  box-sizing: border-box;
  text-align: center;
  border-radius: 1rem;
  border-style: solid;
  border-width: 3px;
  border-color: #000;
}

.player-container-renan {
  flex-basis: 100%;
  /* height: 24rem; */
  background-color: #fff;
  box-sizing: border-box;
  text-align: center;
  border-radius: 1rem;
  border-style: solid;
  border-width: 3px;
  border-color: #000;
}

.player-name {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.victor {
  background-color: yellow;
}

.shindi {
  background-color: blue;
  color: white
}

.renan {
  background-color: black;
  color: white
}

.points-container {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-total {
  width: 7rem;
  border-width: 3px;
  border-color: #000;
  text-align: center;
  font-size: 30px;
}

.button-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* justify-content: space-between; */
}

.others-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* margin-right: 1rem; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  justify-content: space-between;
}

.btn-atualizar {
  margin-top: 2rem;
  width: 10rem !important;
  height: 5rem !important;
  font-size: 1.5rem;
}

.btn-add {
  /* margin-top: 2rem; */
  width: 3.5rem !important;
  height: 3.5rem !important;
  font-size: 1.5rem;
}

.btn-fada {
  /* margin-top: 2rem; */
  width: 3.5rem !important;
  height: 3.5rem !important;
  font-size: 0.8rem;
  margin-left: 2rem;
}

.especiarias {
  font-size: 0.8rem;
  margin: -2px;
}

.score-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}